.navbar {
  height: 40px;
  width: 97vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightblue;
}
.navbar__Links {
  margin-left: auto;
  padding: auto;
}

@keyframes color-change {
  0% {
    color: blue;
  }

  50% {
    color: red;
  }

  100% {
    color: blue;
  }
}

.startPage {
  font-size: 30px;
  animation: color-change 3s infinite;
  display: flex;
  justify-content: center;
}
